<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinglebiscuits.carcontroller">

    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ConnectToCar"
            android:label="@string/app_name"
            android:parentActivityName=".PickRole"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".PickRole">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Streaming"
            android:label="@string/title_activity_streaming"
            android:parentActivityName=".ConnectToCar"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="userLandscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jinglebiscuits.carcontroller.ConnectToCar"/>
        </activity>
    </application>

</manifest>